body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/**src: http://nicolasgallagher.com/micro-clearfix-hack/*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
.clearfix {
  *zoom: 1;
}
